* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #F6F7F8;
  --logo-dark-blue: #2A3647;
  --logo-light-blue: #29ABE2;
  --white: #FFFFFF;
  --red: #E60026;
}

html,
body {
  background-color: var(--bg-color);
}

a{
    text-decoration: none;
    cursor: pointer;
}