<!-- ADD-TASKS-CONTENT -->
<div class="add-tasks-page">

    <!-- HEADER -->
    <div class="add-task-header">
        <h1>
            Add Task
        </h1>
        <div id="close-dialog-x-wrapper" class="close-dialog-x-wrapper d-none">
            <img src="./assets/icons/close.png" alt="Close Dialog" class="close-dialog-x-default">
            <img src="./assets/icons/close_hover_light.png" alt="Close Dialog" class="close-dialog-x-hover">
            <img src="./assets/icons/close_hover_blue.png" alt="Close Dialog" class="close-dialog-x-active">
          </div>
    </div>

    <!-- FORMULAR -->
    <form id="add-task-form" class="add-task-form" onsubmit="addTask(); return false;">

        <!-- LEFT COLUMN -->
        <div class="task-column left-column">

            <!-- TITLE -->
            <div class="form-group">
                <label for="task-title">
                    Title<span class="required">*</span>
                </label>
                <input id="task-title" class="task-title form-input" type="text" placeholder="Enter a title">
                <span id="title-input-error" class="input-error dNone">This Field is required</span>
            </div>

            <!-- DESCRIPTION -->
            <div class="form-group">
                <label for="task-description">
                    Description
                </label>
                <textarea id="task-description" class="task-description form-input" rows="4" placeholder="Enter a Description"></textarea>
            </div>

            <!-- DUE DATE -->   
            <div class="form-group">
                <label for="task-due-date">
                    Due date<span class="required">*</span>
                </label>
                <input id="task-due-date" class="task-due-date form-input" type="date" placeholder="dd/mm/yyyy" maxlength="10">
                <img id="calendar-icon" src="../assets/icons/calendar.png" class="task-input-icon" alt="calendar image">
                <span id="due-date-input-error" class="input-error dNone"></span>
            </div>

        </div>

        <!-- VERTICAL DIVIDER -->
        <div class="vertical-divider"></div>

        <!-- RIGHT COLUMN -->
        <div class="task-column right-column">

            <!-- PRIORITY-BUTTONS -->
            <div class="form-group">
                <label>Priority</label>
                <div class="priority-buttons">

                    <!-- PRIORITY-URGENT -->
                    <button id="task-prio-urgent-btn" class="priority-btn" type="button" onclick="higlightSelectedPriority('urgent')">
                        <span class="prio-text">Urgent</span>
                        <img id="task-prio-urgent-color" class="task-prio-img" src="../assets/icons/high_prio_color.svg" alt="">
                        <img id="task-prio-urgent-white" class="task-prio-img dNone" src="../assets/icons/high_prio_white.svg" alt="">
                    </button>

                    <!-- PRIORITY-MEDIUM -->
                    <button id="task-prio-medium-btn" class="priority-btn" type="button" onclick="higlightSelectedPriority('medium')">
                        <span class="prio-text">Medium</span> 
                        <img id="task-prio-medium-color" class="task-prio-img" src="../assets/icons/medium_prio_color.svg" alt="">
                        <img id="task-prio-medium-white" class="task-prio-img dNone" src="../assets/icons/medium_prio_white.svg" alt="">
                    </button>

                    <!-- PRIORITY-LOW -->
                    <button id="task-prio-low-btn" class="priority-btn" type="button" onclick="higlightSelectedPriority('low')">
                        <span class="prio-text">Low</span>
                        <img id="task-prio-low-color" class="task-prio-img" src="../assets/icons/low_prio_color.svg" alt="">
                        <img id="task-prio-low-white" class="task-prio-img dNone" src="../assets/icons/low_prio_white.svg" alt="">
                    </button>

                </div>

            </div>

            <!-- ASSIGNED TO -->
            <div class="form-group">
                <label>Assigned to</label>
                <div id="task-assigned-to-wrapper" class="custom-dropdown">
                    <div class="custom-dropdown-toggle form-input" onclick="openAssignedDropdown()">
                        <input id="task-assigned-to-input" class="dropdown-search-input" type="text" placeholder="Select contacts to assign" oninput="filterAssignedUsers()">
                        <img id="dropdown-arrow" class="dropdown-arrow" src="../assets/icons/arrow_drop_down.svg" onclick="toggleAssignedDropdown(event)" alt="">
                        <img id="dropup-arrow" src="../assets/icons/arrow_drop_up.svg" class="dropdown-arrow dNone" onclick="toggleAssignedDropdown(event)" alt="">
                    </div>
                    <div id="task-assigned-to-users" class="custom-dropdown-users dNone">
                    </div>
                    <div id="assigned-badges" class="assigned-badges">
                    </div>
                </div>
            </div>

            <!-- CATEGORY -->
            <div class="form-group">
                <label for="task-category">Category<span class="required">*</span></label>
                <div id="task-category-wrapper" class="custom-dropdown">
                    <div class="custom-dropdown-toggle form-input" onclick="openCategoryDropdown()">
                        <input id="task-category-input" class="dropdown-input" type="text" placeholder="Select task category" readonly>
                        <img id="category-dropdown-arrow" class="dropdown-arrow" src="../assets/icons/arrow_drop_down.svg" onclick="toggleCategoryDropdown(event)" alt="">
                        <img id="category-dropup-arrow" src="../assets/icons/arrow_drop_up.svg" class="dropdown-arrow dNone" onclick="toggleCategoryDropdown(event)" alt="">
                    </div>
                    <div id="task-category-tasks" class="custom-dropdown-tasks dNone">
                        <div id="dropdown-tasks" class="dropdown-tasks">
                            <span id="technical-task" class="dropdown-user-name">Technical Task</span>
                        </div>
                        <div id="dropdown-tasks" class="dropdown-tasks">
                            <span id="user-story" class="dropdown-user-name">User Story</span>
                        </div>

                    </div>
                </div>
            </div>

            <!-- SUBTASKS -->
            <div class="form-group">
                <label for="subtasks">Subtasks</label>
                <input id="subtasks-input" class="form-input task-input" type="text" placeholder="Add new subtask">
                <img id="clear-input-btn" class="clear-input-icon dNone" src="../assets/icons/subtask_close.svg" alt="">
                <span id="subtasks-vertical-divider" class="subtasks-vertical-divider dNone">|</span>
                <img id="add-subtask-btn" class="add-subtask-icon dNone" src="../assets/icons/subtask_check.svg" alt="">
                <ul id="subtasks-list" class="subtasks-list">

                </ul>
            </div>
        </div>

    </form>

    <!-- FOOTER -->
    <div id="add-task-footer" class="add-task-footer">

        <!-- FOOTER LEFT -->
        <div class="footer-left">
            <span class="required">*</span><span>This field is required</span>
        </div>

        <!-- FOOTER RIGHT -->
        <div class="footer-right">
            <button class="clear-task-btn">
                <span>Clear &times</span>
            </button>
            <button id="add-task-btn" class="add-task-btn" form="add-task-form" type="submit" disabled>
                <span>Create Task</span>
                <img src="../assets/icons/check_light.svg" alt="">
            </button>
        </div>

    </div>

    <!-- Footer for Dialog Add Task -->

    <div id="add-task-dialog-footer" class="add-task-dialog-footer d-none">

        <!-- FOOTER LEFT -->
        <div class="dialog-footer-left">
            <span class="required">*</span><span>This field is required</span>
        </div>

        <!-- FOOTER RIGHT -->
        <div class="dialog-footer-right">
            <button class="clear-task-btn" onclick="renderSmallTask()">
                <span>Clear &times</span>
            </button>
            <button id="add-task-btn" class="add-task-btn" form="add-task-form" type="submit">
                <span>Create Task</span>
                <img src="../assets/icons/check_light.svg" alt="">
            </button>
        </div>

    </div>

</div>