<!-- ADD-TASKS-CONTENT -->
<div id="add-tasks-page" class="add-tasks-page">

    <!-- HEADER -->
    <div class="add-task-header">
        <h1>
            Add Task
        </h1>

        <!-- DIALOG HEADER -->
        <div id="close-add-task-dialog-x-wrapper" class="close-add-task-dialog-x-wrapper" onclick="closeAddTaskOverlayEmediatly()">
            <img src="./assets/icons/close.png" alt="Close Dialog" class="close-add-task-dialog-x-default">
            <img src="./assets/icons/close_hover_light.png" alt="Close Dialog" class="close-add-task-dialog-x-hover">
            <img src="./assets/icons/close_hover_blue.png" alt="Close Dialog" class="close-add-task-dialog-x-active">
        </div>
    </div>

    <!-- FORMULAR -->
    <form id="add-task-form" class="add-task-form" onsubmit="addTask(); return false;">

        <!-- FORMULAR-HEADER-MOBILE -->
        <h1 id="add-task-mobile-heading" class="add-tasks-mobile-header">
            Add Task
        </h1>
            
        <!-- DIALOG FORMULAR-HEADER-MOBILE -->
        <div id="add-tasks-dialog-header" class="add-tasks-dialog-header d-none">
            <h1 id="add-task-dialog-heading" class="add-tasks-dialog-heading">
                Add Task
            </h1>
            <div id="close-add-task-dialog-mobile-x-wrapper" class="close-add-task-dialog-mobile-x-wrapper" onclick="closeAddTaskOverlayEmediatly()">
                <img src="./assets/icons/close.png" alt="Close Dialog" class="close-add-task-dialog-mobile-x-default">
                <img src="./assets/icons/close_hover_light.png" alt="Close Dialog" class="close-add-task-dialog-mobile-x-hover">
                <img src="./assets/icons/close_hover_blue.png" alt="Close Dialog" class="close-add-task-dialog-mobile-x-active">
            </div>
        </div>

        <!-- LEFT COLUMN -->
        <div class="task-column left-column">

            <!-- TITLE -->
            <div class="form-group">
                <label for="task-title-input">
                    Title<span class="required" aria-hidden="true">*</span>
                </label>
                <input id="task-title-input" class="task-title form-input cursor-text" type="text" placeholder="Enter a title">
                <span id="title-input-error" class="input-error"></span>
            </div>

            <!-- DESCRIPTION -->
            <div class="form-group">
                <label for="task-description-input">
                    Description
                </label>
                <textarea id="task-description-input" class="task-description form-input cursor-text" rows="5" placeholder="Enter a Description"></textarea>
            </div>

            <!-- DUE DATE -->   
            <div class="form-group">
                <label for="task-due-date-input">
                    Due date<span class="required" aria-hidden="true">*</span>
                </label>
                <input id="task-due-date-input" class="task-due-date form-input" type="date" placeholder="dd/mm/yyyy" maxlength="10">
                <button id="calendar-icon" class="task-input-icon" type="button" aria-label="Open date picker">
                    <img src="./assets/icons/calendar.png" alt="Calendar Icon">
                </button>
                <span id="due-date-input-error" class="input-error"></span>
            </div>

        </div>

        <!-- VERTICAL DIVIDER -->
        <div class="vertical-divider"></div>

        <!-- RIGHT COLUMN -->
        <div class="task-column right-column">

            <!-- PRIORITY-BUTTONS -->
            <fieldset class="form-group">
                <legend>Priority</legend>
                <div class="priority-buttons">

                    <!-- PRIORITY-URGENT -->
                    <button id="task-prio-urgent-btn" class="priority-btn" type="button" aria-label="Set priority to urgent" aria-pressed="false"
                     onclick="highlightSelectedPriority('urgent')" 
                    >
                        <span class="prio-text">Urgent</span>
                        <img id="task-prio-urgent-color" class="task-prio-img" src="./assets/icons/high_prio_color.svg" alt="Double chevron up in red icon">
                        <img id="task-prio-urgent-white" class="task-prio-img dNone" src="./assets/icons/high_prio_white.svg" alt="Double chevron up in white icon">
                    </button>

                    <!-- PRIORITY-MEDIUM -->
                    <button id="task-prio-medium-btn" class="priority-btn prio-medium" type="button" aria-label="Set priority to medium" aria-pressed="true"
                     onclick="highlightSelectedPriority('medium')" 
                    >
                        <span class="prio-text">Medium</span> 
                        <img id="task-prio-medium-color" class="task-prio-img dNone" src="./assets/icons/medium_prio_color.svg" alt="Equal sign in orange icon">
                        <img id="task-prio-medium-white" class="task-prio-img" src="./assets/icons/medium_prio_white.svg" alt="Equal sign in white icon">
                    </button>

                    <!-- PRIORITY-LOW -->
                    <button id="task-prio-low-btn" class="priority-btn" type="button" aria-label="Set priority to low" aria-pressed="false"
                     onclick="highlightSelectedPriority('low')" 
                    >
                        <span class="prio-text">Low</span>
                        <img id="task-prio-low-color" class="task-prio-img" src="./assets/icons/low_prio_color.svg" alt="Double chevron down in green icon">
                        <img id="task-prio-low-white" class="task-prio-img dNone" src="./assets/icons/low_prio_white.svg" alt="Double chevron down in white icon">
                    </button>

                </div>
            </fieldset>

            <!-- ASSIGNED TO -->
            <div id="assigned-to-form" class="form-group">
                <label for="task-assigned-to-input">Assigned to</label>
                <div id="task-assigned-to-wrapper" class="custom-dropdown"  onclick="stopEventBubbling(event)">
                    <div class="custom-dropdown-toggle form-input" onclick="toggleAssignedDropdown(event)">
                        <input id="task-assigned-to-input" class="dropdown-search-input" type="text" placeholder="Select contacts to assign" oninput="filterAssignedUsers()">
                        <button id="dropdown-arrow" class="dropdown-arrow" type="button" aria-label="Open assigned dropdown" onclick="toggleAssignedDropdown(event)">
                            <img src="./assets/icons/arrow_drop_down.svg" alt="Down arrow icon">
                        </button>
                        <button id="dropup-arrow" class="dropdown-arrow dNone" type="button" aria-label="Close assigned dropdown" onclick="toggleAssignedDropdown(event)">
                            <img src="./assets/icons/arrow_drop_up.svg" alt="Up arrow icon">
                        </button>
                    </div>
                    <div id="task-assigned-to-users" class="custom-dropdown-users dNone">
                        <!-- dynamic content: assigned users will be populated here -->
                    </div>
                    <div id="assigned-badges" class="assigned-badges" aria-hidden="true">
                        <!-- dynamic content: assigned user badges will be populated here -->
                    </div>
                </div>
            </div>

            <!-- CATEGORY -->
            <div class="form-group">
                <label for="task-category-input">Category<span class="required" aria-hidden="true">*</span></label>
                <div id="task-category-wrapper" class="custom-dropdown" onclick="stopEventBubbling(event)">
                    <div id="category-input-wrapper" class="custom-dropdown-toggle form-input" onclick="toggleCategoryDropdown(event)">
                        <input id="task-category-input" class="dropdown-input" type="text" placeholder="Select task category" readonly>
                        <button id="category-dropdown-arrow" class="dropdown-arrow" type="button" aria-label="Open category dropdown" onclick="toggleCategoryDropdown(event)">
                            <img src="./assets/icons/arrow_drop_down.svg" alt="Down arrow icon">
                        </button>
                        <button id="category-dropup-arrow" class="dropdown-arrow dNone" type="button" aria-label="Close category dropdown" onclick="toggleCategoryDropdown(event)">
                            <img src="./assets/icons/arrow_drop_up.svg" alt="Up arrow icon">
                        </button>
                    </div>
                    <div id="task-category-tasks" class="custom-dropdown-tasks dNone" role="listbox">
                        <div id="technical-task" class="dropdown-tasks" role="option" aria-label="Technical Task"  tabindex="0">
                            <span class="dropdown-user-name">Technical Task</span>
                        </div>
                        <div id="user-story" class="dropdown-tasks" role="option" aria-label="User Story"  tabindex="0">
                            <span class="dropdown-user-name">User Story</span>
                        </div>
                    </div>
                </div>
                <span id="category-input-error" class="input-error"></span>
            </div>

            <!-- SUBTASKS -->
            <div class="form-group">
                <label for="subtasks-input">Subtasks</label> 
                <div id="subtasks-input-container" class="subtasks-input-container" onclick="stopEventBubbling(event)">    
                    <input id="subtasks-input" class="task-input form-input cursor-text" type="text" placeholder="Add new subtask">
                    <div class="subtasks-input-icons">
                        <button id="clear-input-btn" class="clear-input-icon dNone" type="button" aria-label="Clear subtask input" onclick="hideUnsavedInputError()">
                            <img src="./assets/icons/subtask_close.svg" alt="Cross icon">
                        </button>
                        <span id="subtasks-vertical-divider" class="subtasks-vertical-divider dNone" aria-hidden="true">|</span>
                        <button id="add-subtask-btn" class="add-subtask-icon dNone" type="button" aria-label="Add subtask" onclick="hideUnsavedInputError()">
                            <img src="./assets/icons/subtask_check.svg" alt="Checkmark icon">
                        </button>
                    </div>
                </div>
                <div class="subtask-error-wrapper">
                    <span id="subtask-input-error" class="subtask-input-error">Subtask can not be empty</span>
                    <span id="unsaved-input-error" class="subtask-input-error">Subtask is not saved</span>
                </div>
                <ul id="subtasks-list" class="subtasks-list">
                    <!-- dynamic content: subtasks will be populated here -->
                </ul>
            </div>

        </div>

        <!-- REQUIRED FIELD MOBILE -->
        <div class="required-field-mobile dNone">
            <span class="required" aria-hidden="true">*</span><span>This field is required</span>
        </div>
    </form>

    <!-- FOOTER -->
    <div id="add-task-footer" class="add-task-footer">

        <!-- FOOTER LEFT -->
        <div class="footer-left">
            <span class="required" aria-hidden="true">*</span><span>This field is required</span>
        </div>

        <!-- FOOTER RIGHT -->
        <div class="footer-right">
            <button id="clear-task-btn" class="clear-task-btn" type="button">
                <span>Clear &times</span>
            </button>
            <button id="add-task-btn" class="add-task-btn disabled-btn" form="add-task-form" type="submit" disabled>
                <div id="disabled-btn-wrapper">
                    <span>Create Task</span>
                    <img src="./assets/icons/check_light.svg" alt="Checkmark icon">
                </div>
            </button>
        </div>
    </div>

    <!-- Footer for Dialog Add Task -->
    <div id="add-task-dialog-footer" class="add-task-dialog-footer d-none">
        <!-- FOOTER LEFT -->
        <div class="dialog-footer-left">
            <span class="required">*</span><span>This field is required</span>
        </div>
        <!-- FOOTER RIGHT -->
        <div class="dialog-footer-right">
            <button class="clear-task-btn" onclick="clearFormular()">
                <span>Clear &times</span>
            </button>
            <button id="dialog-add-task-btn" class="add-task-btn disabled-btn" form="add-task-form" type="submit" onclick="closeAddTaskOverlay();" disabled>
                <span>Create Task</span>
                <img src="./assets/icons/check_light.svg" alt="Checkmark icon">
            </button>
        </div>
    </div>
    

    <!-- TOAST -->
        <div id="add-task-success-overlay" class="add-task-success-overlay" aria-hidden="true"></div>
        <div id="add-task-success-toast" class="add-task-success-toast" role="status" aria-live="polite">
            <div class="add-task-success-content">
                <span>Task added to board</span>
                <img src="./assets/icons/board_white.png" alt="Columns icon">
            </div>
        </div>
</div>