    
<div class="board-page">
    <header id="header-board" class="header-board">
        <h2 class="board-heading">Board</h2>
        <div id="find-task-container" class="find-task-container">
            <div id="search-task-input-container" class="search-task-input-container">
                <input oninput="filterTasksBySearch()" class="find-task-input" id="find-task" type="text" placeholder="Find Task">
                <div class="search-icon-wrapper" onclick="filterTasksBySearch()">
                    <img src="./assets/icons/search.png" alt="Search Icon" class="search-icon search-icon-default">
                    <img src="./assets/icons/search_hover.png" alt="Search Icon Hover" class="search-icon search-icon-hover">
                    <img src="./assets/icons/search_blue.png" alt="search icon active" class="search-icon search-icon-active">
                </div>
            </div>
            <button class="add-task-button dark-button" id="add-task" onclick="openAddTaskOverlay('to-do')">
                <p>Add Task</p> <img class="add-plus-img" src="./assets/icons/add_light.png" alt="Add Task Plus Image">
            </button>
        </div>       
    </header>
    <div class="search-task-container-mobile" id="search-task-container-mobile">
        <div id="search-task-input-container-mobile" class="search-task-input-container-mobile">
                    <input oninput="filterTasksBySearchMobile()" class="find-task-input" id="find-task-mobile" type="text" placeholder="Find Task">
                    <div class="search-icon-wrapper" onclick="filterTasksBySearchMobile()">
                        <img src="./assets/icons/search.png" alt="Search Icon" class="search-icon search-icon-default">
                        <img src="./assets/icons/search_hover.png" alt="Search Icon Hover" class="search-icon search-icon-hover">
                        <img src="./assets/icons/search_blue.png" alt="search icon active" class="search-icon search-icon-active">
                    </div>
        </div>
    </div>
        <div id="all-task-bars" class="all-task-bars">
            <div id="to-do-task-bar" class="task-bar">
                <section id="tasks-header-and-plus" class="tasks-header-and-plus">
                    <h3 class="task-bar-heading">To Do</h3>
                    <div id="add-to-do-task" class="add-task-plus-wrapper" onclick="openAddTaskOverlay('to-do')">
                        <img src="./assets/icons/small_ad_task_grey.png" alt="Add Task Plus Image" class="add-task-plus">
                        <img src="./assets/icons/small_ad_task_blue.png" alt="Add Task Plus Image Hover" class="add-task-plus-hover">
                        <img src="./assets/icons/small_ad_task_dark.png" alt="Add Task Plus Image Active" class="add-task-plus-active">
                    </div>
                </section>
                <div id="to-do-tasks" class="tasks-container" ondrop="movingTo(event, 'to-do')" ondragenter="allowDrop(event)"  ondragover="allowDrop(event)">
                </div>
            </div>
            <div id="in-progress-task-bar" class="task-bar">
                <section id="tasks-header-and-plus" class="tasks-header-and-plus">
                    <h3 class="task-bar-heading">In Progress</h3>
                    <div id="add-in-progress-task" class="add-task-plus-wrapper" onclick="openAddTaskOverlay('in-progress')">
                        <img src="./assets/icons/small_ad_task_grey.png" alt="Add Task Plus Image" class="add-task-plus">
                        <img src="./assets/icons/small_ad_task_blue.png" alt="Add Task Plus Image Hover" class="add-task-plus-hover">
                        <img src="./assets/icons/small_ad_task_dark.png" alt="Add Task Plus Image Active" class="add-task-plus-active">
                    </div>
                </section>
                <div id="in-progress-tasks" class="tasks-container" ondrop="movingTo(event, 'in-progress')" ondragenter="allowDrop(event)" ondragover="allowDrop(event)">
                </div>
            </div>
            <div id="await-feedback-task-bar" class="task-bar">
                <section id="tasks-header-and-plus" class="tasks-header-and-plus">
                    <h3 class="task-bar-heading">Await Feedback</h3>
                    <div id="add-await-feedback-task" class="add-task-plus-wrapper" onclick="openAddTaskOverlay('await-feedback')">
                        <img src="./assets/icons/small_ad_task_grey.png" alt="Add Task Plus Image" class="add-task-plus">
                        <img src="./assets/icons/small_ad_task_blue.png" alt="Add Task Plus Image Hover" class="add-task-plus-hover">
                        <img src="./assets/icons/small_ad_task_dark.png" alt="Add Task Plus Image Active" class="add-task-plus-active">
                    </div>
                </section>
                <div id="await-feedback-tasks" class="tasks-container" ondrop="movingTo(event, 'await-feedback')" ondragenter="allowDrop(event)" ondragover="allowDrop(event)">
                </div>
            </div>
            <div id="done-task-bar" class="task-bar">
                <h3 class="task-bar-heading width-248px">Done</h3>
                <div id="done-tasks" class="tasks-container" ondrop="movingTo(event, 'done')" ondragenter="allowDrop(event)" ondragover="allowDrop(event)">
                </div>
            </div>
        </div>
</div>