<div class="contact-main-area">
  
    <div class="contact-and-button-area">

    <div class="new-contact-area">
      <button class="add-contact-btn">
        Add new contact
        <img
          class="add-contact-btn-img"
          src="../assets/icons/person_add.png"
          alt=""
        />
      </button>
    </div>

    <div class="displayed-contacts" id="displayed-contacts">

    <div class="contact-breaker">
        <p>A</p>
        <hr />
    </div>

    <div class="contact-is-active">
        <div class="contact-initials">
            <p>AM</p>
        </div>

        <div class="contact-name-email">
            <p>Anton Mayer</p>
            <a href="mailto:antonm@gmail.com">antonm@gmail.com</a>
        </div>
    </div>
    <div class="contact">
        <div class="contact-initials">
            <p>AM</p>
        </div>

        <div class="contact-name-email">
            <p>Anton Mayer</p>
            <a href="mailto:antonm@gmail.com">antonm@gmail.com</a>
        </div>
    </div>

    <div class="contact">
        <div class="contact-initials">
            <p>AM</p>
        </div>

        <div class="contact-name-email">
            <p>Anton Mayer</p>
            <a href="mailto:antonm@gmail.com">antonm@gmail.com</a>
        </div>
    </div>
    <div class="contact">
        <div class="contact-initials">
            <p>AM</p>
        </div>

        <div class="contact-name-email">
            <p>Anton Mayer</p>
            <a href="mailto:antonm@gmail.com">antonm@gmail.com</a>
        </div>
    </div>

    <div class="contact-breaker">
        <p>B</p>
        <hr />
    </div>

    <div class="contact">
        <div class="contact-initials">
            <p>AM</p>
        </div>

        <div class="contact-name-email">
            <p>Anton Mayer</p>
            <a href="mailto:antonm@gmail.com">antonm@gmail.com</a>
        </div>
    </div>
    <div class="contact">
        <div class="contact-initials">
            <p>AM</p>
        </div>

        <div class="contact-name-email">
            <p>Anton Mayer</p>
            <a href="mailto:antonm@gmail.com">antonm@gmail.com</a>
        </div>
    </div>

    <div class="contact">
        <div class="contact-initials">
            <p>AM</p>
        </div>

        <div class="contact-name-email">
            <p>Anton Mayer</p>
            <a href="mailto:antonm@gmail.com">antonm@gmail.com</a>
        </div>
    </div>
    <div class="contact">
        <div class="contact-initials">
            <p>AM</p>
        </div>

        <div class="contact-name-email">
            <p>Anton Mayer</p>
            <a href="mailto:antonm@gmail.com">antonm@gmail.com</a>
        </div>
    </div>

    <div class="contact">
        <div class="contact-initials">
            <p>AM</p>
        </div>

        <div class="contact-name-email">
            <p>Anton Mayer</p>
            <a href="mailto:antonm@gmail.com">antonm@gmail.com</a>
        </div>
    </div>
    <div class="contact">
        <div class="contact-initials">
            <p>AM</p>
        </div>

        <div class="contact-name-email">
            <p>Anton Mayer</p>
            <a href="mailto:antonm@gmail.com">antonm@gmail.com</a>
        </div>
    </div>
  </div>
  </div>













  <div class="contact-detail-area">
    <div class="contact-haeder-area">
      <p>Contacts</p>
      <hr />
      <span>Better with a team</span>
    </div>

    <div class="contact-details">
      <div></div>
    </div>
  </div>
</div>
