<div class="contact-main-area">
    <div class="displayed-contacts">
        <div class="new-contact-area">
            <button class="add-contact-btn">Add new contact <img class="add-contact-btn-img" src="../assets/icons/person_add.png" alt=""></button>
        </div>
    </div>
    <div class="contact-detail-area">
        <div class="contact-haeder-area">
            <p>Contacts</p>
            <hr>
            <span>Better with a team</span>
        </div>

        <div class="contact-details">

        </div>

    </div>

</div>