<header>
    <p>Join 360</p>
    <hr>
    <p>Key Metrics at a Glance</p>
</header>
<div class="summary-section">
    <div class="summary-details">

        <div class="todo-done">
            <div class="content-todo-done task-design">

            </div>

            <div class="content-todo-done task-design">

            </div>
        </div>

        <div class="next-task task-design">

        </div>

        <div class="task-overview">

            <div class="task-overview-content task-design"></div>
            <div class="task-overview-content task-design"></div>
            <div class="task-overview-content task-design"></div>

        </div>

    </div>

    <div class="welcome-dialog">
        <p class="welcome-text">Good morning,</p>
        <p class="welcome-name">Sofia Müller</p> <!--TODO ${name}-->
    </div>
</div>