<header class="summary-header">
  <p>Join 360</p>
  <hr class="only-desktop" />
  <span>Key Metrics at a Glance</span>
  <hr class="only-mobile" />
</header>

<div class="summary-content-area">
  <div class="summary-content">
    
    <div class="task-overview">
      <div class="task-summary-style task-display">
        <img class="edit-img" src="../assets/icons/to_edit_dark.png" alt="">
        <div class="task-content">
          <p class="task-number">2</p>
          <p class="task-text">To-do</p>
          </div>
      </div>

      <div class="task-summary-style task-display">
        <img class="checked-img" src="../assets/icons/checked_dark.png" alt="">
        <div class="task-content">
          <p class="task-number">1</p>
          <p class="task-text">Done</p>
        </div>
      </div>
      
    </div>

    <div class="dated-task">
      
      <div class="task-summary-style">

      </div>

    </div>

    <div class="task-status">

        <div class="task-summary-style task-content">
          <p class="task-number">5</p>
          <p class="task-text">Tasks in <br>Board</p>
        </div>

        <div class="task-summary-style task-content">
          <p class="task-number">2</p>
          <p class="task-text">Tasks In <br>Progress</p>
        </div>

        <div class="task-summary-style task-content">
          <p class="task-number">2</p>
          <p class="task-text">Awaiting <br>Feedback</p>
        </div>

    </div>

  </div>

  <div class="welcome-content">
        
    <div>
      <p class="welcome-time">Good morning,</p>
      <p class="welcome-name">Sofia Müller</p>
    </div>

  </div>

</div>
