<header class="summary-header">
  <p>Join 360</p>
  <hr class="only-desktop" />
  <span>Key Metrics at a Glance</span>
  <hr class="only-mobile" />
</header>

<div class="summary-content-area">
  <div class="summary-content">
    
    <div class="task-overview">
      <div class="task-summary-style">
        
      </div>

      <div class="task-summary-style">
        
      </div>
      
    </div>

    <div class="dated-task">
      
      <div class="task-summary-style">

      </div>

    </div>

    <div class="task-status">

        <div class="task-summary-style">

        </div>

        <div class="task-summary-style">
          
        </div>

        <div class="task-summary-style">
          
        </div>

    </div>

  </div>

  <div class="welcome-content">
        
    <div>
      <p class="welcome-time">Good morning,</p>
      <p class="welcome-name">Sofia Müller</p>
    </div>

  </div>

</div>
