/* === GLOBAL === */
body {
  overflow-x: hidden;
  margin: auto;
}

.required {
  color: var(--red);
}

.red-border {
  border: solid 1px var(--red) !important;
}

.blue-border {
  border: solid 1px var(--logo-light-blue) !important;
  outline: none;
}

.dFlex {
  display: flex;
}

.input-error {
  display: block;
  color: var(--red);
  font-size: 12px;
}

.dNone {
  display: none;
}

/* === ADD-TASKS-CONTENT === */
.add-tasks-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 110px;
  margin-left: 64px;
}

/* === HEADER === */
.add-task-header {
  width: 690px;
}

h1 {
  color: var(--logo-dark-blue);
  padding-bottom: 40px;
}

/* === FORMULAR === */
.add-task-form {
  display: flex;
  gap: 24px;
}

/* === LEFT COLUMN & RIGHT COLUMN === */
.left-column,
.right-column {
  width: 320px;
}

.task-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* === INPUT-FIELDS === */
.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
  font-weight: 300;
  color: var(--logo-dark-blue);
}

.form-input {
  width: 100%;
  padding: 8px 10px;
  border: solid 1px var(--light-gray);
  border-radius: 6px;
  cursor: pointer !important;
}

.form-input:hover {
  cursor: pointer !important;
}

.form-input::placeholder {
  color: var(--light-gray);
  font-size: 14px;
  font-weight: 300;
}

.form-input:focus {
  border: solid 1px var(--logo-light-blue);
  outline: none;
}


/* === DUE DATE INPUT === */
.task-due-date {
  position: relative;
}

.task-input-icon {
  position: absolute;
  top: 37px;
  left: 296px;
  width: 12px;    
  height: auto;
  cursor: pointer;
}

.task-input-icon:focus {
  outline-offset: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* === VERTICAL DIVIDER === */
.vertical-divider {
  width: 1px;
  height: 300px;
  background-color: var(--light-gray);
}

/* === PRIORITY-BUTTONS === */
.priority-buttons {
  display: flex;
  gap: 10px;
}

.priority-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: calc(33.33333% - 6.66666px);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
}

.priority-btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.prio-text {
  font-size: 16px;
}

.task-prio-img {
  width: 14px;
  height: auto;
}

.prio-urgent {
  background-color: #ff3d00;
  color: var(--white);
}

.prio-medium {
  background-color: #ffa800;
  color: var(--white);
}

.prio-low {
  background-color: #7ae229;
  color: var(--white);
}

/* === ASSIGNED TO === */
.custom-dropdown {
  position: relative;
}

.custom-dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: var(--white);
  user-select: none;
  padding: 4px 10px;
}

.dropdown-arrow {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.15s ease;
  object-fit: contain;
}

.dropup-arrow {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.15s ease;
  object-fit: contain;
}

.dropdown-arrow:hover,
.dropup-arrow:hover {
  background-color: #eeeeee;
}

.dropdown-search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.dropdown-search-input::placeholder {
  color: var(--black);
  font-size: 14px;
  font-weight: 300;
}

.custom-dropdown-users {
  flex-direction: column;
  gap: 2px;
  position: relative;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--white);
  border-radius: 0 0 8px 8px;
  z-index: 10;
  scrollbar-width: thin;
  scrollbar-color: var(--light-gray) transparent;
}

.custom-dropdown-users::-webkit-scrollbar {
  width: 6px;
}

.custom-dropdown-users::-webkit-scrollbar-track {
  background: transparent;
}

.custom-dropdown-users::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 3px;
}

.dropdown-user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.dropdown-user:hover {
  border-radius: 10px;
  background-color: #eeeeee;
}

.dropdown-user.selected {
  border-radius: 10px;
  background-color: var(--logo-dark-blue);
  color: var(--white);
}

.dropdown-user.selected:hover {
  background-color: #091931;
}

.dropdown-user-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1.5px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  flex-shrink: 0;
}

.dropdown-user-name {
  flex: 1;
  font-size: 14px;
}

.dropdown-user-checkbox {
  position: absolute;
  top: 15px;
  left: 272px;
  width: 12px;
  height: 12px; 
}

.dropdown-user-checkbox:nth-of-type(3) {
  left: 274px;
  width: 10px;
  height: 10px;
}

.dropdown-user.selected  {
  background-color: var(--logo-dark-blue);
  border-color: var(--white);
}

.assigned-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  position: relative;
  z-index: 1;
}

.assigned-badges:has(.assigned-badge) {
  margin-top: 8px;
}

.assigned-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
}

/* === CATEGORY === */
.dropdown-input {
  border: none;
  outline: none;
  cursor: pointer;
}

.custom-dropdown-tasks {
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0 0 8px 8px;
}

.dropdown-tasks {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.dropdown-tasks:hover {
  border-radius: 10px;
  background-color: #eeeeee;
}

.dropdown-task {
  flex: 1;
  font-size: 14px;
}

/* === SUBTASKS === */
.task-input {
  position: relative;
}

.clear-input-icon {
  position: absolute;
  top: 32px;
  left: 268px;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.15s ease;
  object-fit: contain;
}

.clear-input-icon:hover {
  background-color: #eeeeee;
}
.subtasks-vertical-divider {
  position: absolute;
  top: 33px;
  left: 288px;
  font-weight: 100;
  color: var(--light-gray);
}

.add-subtask-icon {
  position: absolute;
  top: 32px;
  left: 296px;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.15s ease;
  object-fit: contain;
}

.add-subtask-icon:hover {
  background-color: #eeeeee;
}

.subtasks-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 60px;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
  z-index: 10;
  scrollbar-width: thin;
  scrollbar-color: var(--light-gray) transparent;
  font-size: 12px;
  list-style: none;
}

.subtask-item-wrapper {
  padding: 4px 10px 4px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.subtask-item-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subtask-item-content::before {
  content: "\2022";
  font-size: 12px;
  flex-shrink: 0;
}

.edit-subtask-btn {
  width: auto;
  height: 14px;
  cursor: pointer;
}

.subtask-edit-divider {
  font-weight: 100;
  color: var(--light-gray);
}

.delete-subtask-btn {
  width: auto;
  height: 14px;
  cursor: pointer;
}

.subtask-item-btns {
  margin-left: auto;  
  gap: 6px;
}

.subtask-item-edit {
  position: relative;
  align-items: center;
  margin: 0 -10px 0 -18px;
  border-bottom: 1px solid var(--logo-light-blue);
}

.subtask-edit-input {
  width: 100%;
  padding: 4px 60px 4px 8px;
  border: none;
  outline: none;
  font-size: 12px;
  background: white;
  box-sizing: border-box;
}

.subtask-edit-btns {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 4px;
}

.edit-input-delete-btn {
  width: 20px;
  height: auto;
  cursor: pointer;
  flex-shrink: 0;
  padding: 4px;
  border-radius: 50%;
  transition: background-color 0.15s ease;
}

.edit-input-delete-btn:hover {
  background-color: #eeeeee;
}

.subtask-edit-input-divider {
  font-weight: 100;
  color: var(--light-gray);
}

.edit-input-check-btn {
  width: 20px;
  height: auto;
  cursor: pointer;
  flex-shrink: 0;
  padding: 4px;
  border-radius: 50%;
  transition: background-color 0.15s ease;
}

.edit-input-check-btn:hover {
  background-color: #eeeeee;
}

/* === REQUIRED-FIELD-MOBILE === */
.required-field-mobile {
  display: none;
  width: 320px;
  font-size: 12px;
}

/* === FOOTER === */
.add-task-footer {
  position: absolute;
  top: 756px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 690px;
  padding: 0;
}

.footer-left {
  font-size: 12px;
}

.footer-right {
  display: flex;
  gap: 12px;
}

.clear-task-btn {
  padding: 10px 12px;
  border: 1px solid var(--logo-dark-blue);
  border-radius: 8px;
  background-color: var(--bg-color);
  color: var(--logo-dark-blue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.clear-task-btn:hover {
  border: 1px solid var(--logo-light-blue);
  color: var(--logo-light-blue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.clear-task-btn:focus {
  outline-offset: 2px;
}

.add-task-btn {
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--logo-dark-blue);
  color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.add-task-btn:focus {
  outline-offset: 2px;
} 

.disabled-btn {
  background-color: var(--light-gray);
  color: var(--white);
  box-shadow: none;
}

.footer-right .disabled-btn:hover {
  background-color: var(--light-gray);
  color: var(--white);
  box-shadow: none;
  cursor: default;
}

.add-task-btn:hover {
  background-color: var(--logo-light-blue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.add-task-btn span {
  font-size: 14px;
  font-weight: 600;
}

.add-task-btn img {
  width: 10px;
  height: auto;
}

/* === ADD TASK TOAST === */
.add-task-success-overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: opacity 0.325s ease;
  z-index: 10;
  pointer-events: none;
}
.add-task-success-overlay.show {
  opacity: 1;
  pointer-events: all;
}

.add-task-success-toast {
  position: fixed;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  background: #2f3e4d;
  color: white;
  padding: 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: none;
  z-index: 9999;
  animation: none;
}

.add-task-success-toast.show {
  animation: toast-flyin 0.325s linear forwards;
}

@keyframes toast-flyin {
  0% {
    top: 100%;
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.add-task-success-content {
  display: flex;
  align-items: center;
  gap: 32px;
}

.add-task-success-content img {
  width: auto;
  height: 24px;
}

/* === TABLET === */
@media (max-width: 1050px) {
  /* === PAGE-CONTENT === */
  .page-content {
    padding-left: 0px !important;
  }

  /* === ADD-TASKS-CONTENT === */
  .add-tasks-page {
    margin-top:  56px;
  }

  /* === HEADER === */
  .add-task-header > h1 {
    display: none;
  }

  /* === FORMULAR === */
  .add-task-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .vertical-divider {
    display: none;
  }

  /* === FORMULAR-HEADER-MOBILE === */
  .add-tasks-mobile-header {
    display: flex;
    width: 320px;
    padding: 0 0 4px;
  }

  /* === LEFT FOOTER AND RIGHT FOOTER === */
  .add-task-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    width: 100%;
  }

  .footer-left {
    width: 320px;
    padding: 12px 0 0;
  }

  .footer-right {
    position: absolute;
    justify-content: flex-end;
    top: 77%;
    width: 320px;
    gap: 20px;
  }

}

@media (max-width: 818px) {
  /* === ADD-TASKS-CONTENT === */
  .add-tasks-page {
    margin-top:  0;
    margin-left:  0;
  }

  /* === FORMULAR-HEADER-MOBILE === */
  .add-tasks-mobile-header {
    position: sticky;
    top: 0;
    background: var(--bg-color);
    padding: 40px 0 4px;
    z-index: 10;
  }

  /* === FORMULAR === */
  .add-task-form {
    align-items: center;
  }

  /* === REQUIRED-FIELD-MOBILE === */
  .required-field-mobile {
    display: flex;
  }

   /* === LEFT FOOTER AND RIGHT FOOTER === */
  .add-task-footer {
    align-items: center;
  }

  .footer-left {
    display: none;
  }
}

@media (max-width: 500px) {
   /* === FORMULAR === */
  .add-task-form {
    padding-bottom: 100px;
  }

  /* === LEFT FOOTER AND RIGHT FOOTER === */
  .footer-right {
    position: fixed;
    top: auto;
    bottom: 86px;
    padding: 8px 0;
    background: var(--bg-color);
  }

}

@media (max-width: 375px) {
  /* === FORMULAR-HEADER-MOBILE === */
  .add-tasks-mobile-header {
    width: 288px;
  }

  /* === REQUIRED-FIELD-MOBILE === */
  .required-field-mobile {
    width: 288px;
  }

  /* === LEFT COLUMN & RIGHT COLUMN === */
  .left-column,
  .right-column {
    width: 288px;
  }

  .footer-right {
    width: 288px;
  }

  /* === DUE DATE INPUT === */
  .task-input-icon {
    left: 264px;
  }

  /* === PRIORITY-BUTTONS === */
  .prio-text {
    font-size: 14px;
  }
  
/* === ASSIGNED TO === */
  .dropdown-user-checkbox {
    left: 240px;
  }

  .dropdown-user-checkbox:nth-of-type(3) {
    left: 242px;
  }

/* === SUBTASKS === */
  .clear-input-icon {
    left: 236px;
  }

  .subtasks-vertical-divider {
    left: 256px;
  }

  .add-subtask-icon {
    left: 264px;
  }

}