.search-task-input-container-mobile {
  display: flex;
  width: 312px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  background-color: white;
  padding-right: 16px;
  height: 48px;
}

.search-task-input-container-mobile:focus-within {
  border-color: #29abe2;
}

.search-task-container-mobile {
  display: none;
  width: 100%;
  justify-content: center;
  margin-top: 44px;
}

.move-to-btn {
  width: 24px;
  height: 26px;
  background: none;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  border: solid 2px rgba(42, 54, 71, 1);
}

.move-to-btn:hover {
  border-color: rgb(41, 171, 226);
}

.move-to-btn:hover .move-to-img {
  filter: brightness(0) saturate(100%) invert(59%) sepia(61%) saturate(2003%) hue-rotate(166deg) brightness(96%) contrast(92%);
}

.move-to-btn:active {
  border-color: rgb(42, 54, 71);
}

.move-to-btn:active .move-to-img {
  filter: none; 
}

.move-to-img {
  width: 13px;
  height: 16px;
}

.move-to-dropdown {
  position: absolute;
  top: 16px;
  right: -80px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-radius: 0 32px 32px 32px;
  padding: 16px;
  z-index: 1000;
}

.move-to-heading {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.move-to-arrow {
  width: 12px;
  height: 12px;
  transition: transform 0.2s ease-in-out;
}

.move-to-text:hover {
  scale: 1.03;
}

.move-to-text:hover .move-to-arrow {
  scale: 1.03;
}

.move-to-text:active {
  scale: 0.97;
}

.move-to-text:active .move-to-arrow {
  scale: 0.97;
}

.rotate-180 {
  transform: rotate(180deg);
}

@media (max-width: 1420px) {
  .board-page {
    scrollbar-width: none;
  }

  .page-content {
    scrollbar-width: none;
    overflow-y: scroll;
  }

  .all-task-bars {
    flex-direction: column;
  }

  .tasks-container {
    flex-direction: row;
    width: 100%;
  }

  .task-bar {
    width: 100%;
    align-items: baseline;
    padding: 0;
  }

  .board-small-task {
    margin: 13px;
    position: relative;
    overflow: visible;
  }

  .board-small-task.dropdown-open {
  z-index: 10;
}

  .move-to-btn {
    display: flex;
  }

  .tasks-header-and-plus {
    width: 246px;
    padding-left: 13px;
  }

  .placeholder-task {
    width: 246px;
  }
}

@media (max-width: 1100px) {
  .board-page {
    padding: 48px 16px 0 16px;
  }

  .header-board {
    margin: 0;
    padding-left: 13px;
  }

  .task-bar-heading {
    font-size: 27px;
  }

  .add-task-plus-wrapper {
    width: 30px;
    height: 30px;
  }

  .tasks-header-and-plus {
    width: 100%;
  }

  .board-heading {
    font-size: 48px;
  }

  .search-task-input-container {
    display: none;
  }

  .search-task-container-mobile {
    display: flex;
  }

  .add-task-button {
    width: 40px;
    height: 40px;
    padding: 0;
    justify-content: center;
  }

  .add-task-button p {
    display: none;
  }

  .add-plus-img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1050px) {
  .dialog-add-task-page {
    flex-direction: column;
  }

  .add-task-header-mobile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  }

  .add-task-dialog {
    padding: 0 32px 32px 32px !important;
  }

  .add-task-dialog-footer {
    flex-direction: column;
    gap: 24px;
    margin-top: 0 !important;
  }

  .dialog-footer-left {
    width: 320px;
    padding: 12px 0 0;
  }

  .dialog-footer-right {
    text-align: end;
    width: 320px;
    gap: 20px;
  }

  .close-add-task-dialog-x-wrapper {
    opacity: 0;
  }

}

@media (min-width: 1051px) {
  .close-add-task-dialog-mobile-x-wrapper {
    opacity: 0;
  }
}

@media (max-width: 818px) {
  .dialog-footer-left {
    display: none;
  }

  .dialog-footer-right {
    margin-top: -75px;
    margin-right: 16px;
  }

  .add-task-dialog {
    padding-top: 24px;
  }
}

@media (max-width: 375px) {
  .edit-add-subtask-icon {
    left: 265px;
  }

  .edit-subtasks-vertical-divider {
    left: 257px;
  }

  .edit-clear-input-icon {
    left: 233px;
  }
}

@media (max-width: 410px) {
  .edit-subtask-text {
  max-width: 145px;
}
}
