.board-page {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-left: 64px;
  height: calc(100vh - 196px)
}

.drag-area-highlight {
  border: 2px dashed #a8a8a8 !important;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.add-plus-img {
  width: 32px;
  height: 32px;
}

.add-task-button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 21px;
  cursor: pointer;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  height: 48px;
}

.header-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1056px;
  min-width: 0;
  margin-right: 64px;
}

.board-heading {
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
}

.find-task-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.find-task-input {
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  background: none;
  padding: 8px 0 8px 16px;
  max-width: 245px;
}

.find-task-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 48px white inset !important;
  -webkit-text-fill-color: black !important;
  border-radius: 10px;
  transition: background-color 5000s ease-in-out 0s;
}

.find-task-input:focus {
  outline: none;
}

.search-task-input-container {
  display: flex;
  width: 312px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  background-color: white;
  padding-right: 16px;
  height: 48px;
}

.search-task-input-container:focus-within {
  border-color: #29abe2;
}

.search-icon {
  box-sizing: content-box;
  width: 32px;
  height: 32px;
}

.search-icon-wrapper {
  display: flex;
  cursor: pointer;
  border-left: 1px solid #a8a8a8;
  padding-left: 16px;
}

.search-icon-hover,
.search-icon-active {
  display: none;
}

.search-icon-wrapper:hover .search-icon-default {
  display: none;
}

.search-icon-wrapper:hover .search-icon-hover {
  display: block;
}

.search-icon-wrapper:active .search-icon-default,
.search-icon-wrapper:active .search-icon-hover {
  display: none;
}

.search-icon-wrapper:active .search-icon-active {
  display: block;
}

.all-task-bars {
  display: flex;
  margin-top: 24px;
  flex: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
}

.all-task-bars::-webkit-scrollbar {
  display: none;
}

.task-bar {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 278px;
  height: 100%;
  max-height: 100%;
  padding-bottom: 64px;
  align-items: center;
}

.task-bar-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  color: #42526e;
}

.tasks-header-and-plus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 248px;
}

.add-task-plus-wrapper {
  display: flex;
  cursor: pointer;
}

.add-task-plus-hover,
.add-task-plus-active {
  display: none;
}

.add-task-plus-wrapper:hover .add-task-plus {
  display: none;
}

.add-task-plus-wrapper:hover .add-task-plus-hover {
  display: block;
}

.add-task-plus-wrapper:active .add-task-plus,
.add-task-plus-wrapper:active .add-task-plus-hover {
  display: none;
}

.add-task-plus-wrapper:active .add-task-plus-active {
  display: block;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid transparent;
}

.width-248px {
  width: 248px;
}

.placeholder-task {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border: dashed 1px #a8a8a8;
  background-color: #e7e7e7;
  box-shadow: 0 0 4px 0 #000000 16%;
  border-radius: 10px;
  width: 248px;
  margin-top: 16px;
}

.placeholder-task p {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  color: #a8a8a8;
}

.disabled-btn {
  background-color: var(--light-gray);
  color: var(--white);
  box-shadow: none;
}

.disabled-btn:hover {
  background-color: var(--light-gray);
  color: var(--white);
  box-shadow: none;
  cursor: default;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

/* Task Design */

.board-small-task {
  width: 252px;
  min-width: 252px;
  margin: 13px 0;
  background-color: white;
  padding: 16px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  overflow: hidden;
  transform: translate(0, 0);
  -webkit-user-select: none;
  user-select: none;
  min-height: webkit-fit-content;
  flex-shrink: 0;
}

.rotate-on-drag {
  transform: rotate(5deg) !important;
  opacity: 0.6;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.small-task-category-and-move-to-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.small-task-category-user-story {
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #0038ff;
  padding: 4px 16px;
  border-radius: 8px;
}

.small-task-category-technical-task {
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: rgba(31, 215, 193, 1);
  padding: 4px 16px;
  border-radius: 8px;
}

.small-task-title {
  font-size: 16px;
  font-weight: 700;
  color: #2a3647;
}

.small-task-description {
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.subtasks-with-subtasks-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.subtasks-bar-container {
  width: 110px;
  height: 8px;
  border-radius: 8px;
  border: solid 1px #4589ff;
}

.subtasks-bar {
  background-color: #4589ff;
  height: 100%;
  border-radius: 8px;
}

.small-task-user-badge-and-priority-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.small-task-user-badges-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
  overflow: auto;
}

.small-task-dropdown-user-badge {
  border: solid 1px white;
}

.small-task-dropdown-user-badge:not(:first-child) {
  margin-left: -10px;
}

