.search-task-input-container-mobile {
  display: flex;
  width: 312px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  background-color: white;
  padding-right: 16px;
  height: 48px;
}

.search-task-input-container-mobile:focus-within {
  border-color: #29abe2;
}

.search-task-container-mobile {
  display: none;
  width: 100%;
  justify-content: center;
  margin-top: 44px;
}

@media (max-width: 1420px) {
  .board-page {
    scrollbar-width: none;
  }

  .page-content {
    scrollbar-width: none;
  }

  .all-task-bars {
    flex-direction: column;
  }

  .tasks-container {
    flex-direction: row;
    width: 100%;
  }

  .task-bar {
    width: 100%;
    align-items: baseline;
    padding: 13px 0;
  }

  .board-small-task {
    margin: 13px;
  }

  .tasks-header-and-plus {
    width: 246px;
    padding-left: 13px;
  }

  .placeholder-task {
    width: 246px;
  }
}

@media (max-width: 1100px) {
  .board-page {
    padding: 48px 16px 0 16px;
  }

  .header-board {
    margin: 0;
    padding-left: 13px;
  }

  .task-bar-heading {
    font-size: 27px;
  }

  .add-task-plus-wrapper {
    width: 30px;
    height: 30px;
  }

  .tasks-header-and-plus {
    width: 100%;
  }

  .board-heading {
    font-size: 47px;
  }

  .search-task-input-container {
    display: none;
  }

  .search-task-container-mobile {
    display: flex;
  }

  .add-task-button {
    width: 40px;
    height: 40px;
    padding: 0;
    justify-content: center;
  }

  .add-task-button p {
    display: none;
  }

  .add-plus-img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1050px) {
  .dialog-add-task-page {
    flex-direction: column;
  }

  .add-task-header-mobile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  }

  .add-task-dialog {
    padding: 0 32px 32px 32px !important;
  }

  .add-task-dialog-footer {
    flex-direction: column;
    gap: 24px;
    margin-top: 0 !important;
  }

  .dialog-footer-left {
    width: 320px;
    padding: 12px 0 0;
  }

  .dialog-footer-right {
    text-align: end;
    width: 320px;
    gap: 20px;
  }

  .close-add-task-dialog-x-wrapper {
    opacity: 0;
  }

}

@media (min-width: 1051px) {
  .close-add-task-dialog-mobile-x-wrapper {
    opacity: 0;
  }
}

@media (max-width: 818px) {
  .dialog-footer-left {
    display: none;
  }

  .dialog-footer-right {
    margin-top: 24px;
  }

  .add-task-dialog {
    padding-top: 24px;
  }
}
