.board-page {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-left: 64px;
  height: 100%;
}

.drag-area-highlight {
    border: 2px dashed #A8A8A8 !important;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.add-plus-img {
  width: 32px;
  height: 32px;
}

.add-task-button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 21px;
  cursor: pointer;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  height: 48px;
}

.header-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1056px;
  min-width: 0;
  margin-right: 64px;
}

.board-heading {
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
}

.find-task-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.find-task-input {
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  background: none;
  padding: 8px 0 8px 16px;
}

.find-task-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 48px white inset !important;
  -webkit-text-fill-color: black !important;
  border-radius: 10px;
  transition: background-color 5000s ease-in-out 0s;
}

.find-task-input:focus {
  outline: none;
}

.search-task-input-container {
  display: flex;
  width: 312px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #A8A8A8;
  border-radius: 10px;
  background-color: white;
  padding-right: 16px;
  height: 48px;
}

.search-task-input-container:focus-within {
  border-color: #29abe2;
}

.search-icon {
  box-sizing: content-box;
  width: 32px;
  height: 32px;
  
}

.search-icon-wrapper {
  display: flex;
  cursor: pointer;
  border-left: 1px solid #A8A8A8;
  padding-left: 16px;
}

.search-icon-hover,
.search-icon-active {
    display: none;
}

.search-icon-wrapper:hover .search-icon-default {
    display: none;
}

.search-icon-wrapper:hover .search-icon-hover {
    display: block;
}

.search-icon-wrapper:active .search-icon-default,
.search-icon-wrapper:active .search-icon-hover {
    display: none;
}

.search-icon-wrapper:active .search-icon-active {
    display: block;
}

.all-task-bars {
  display: flex;
  margin-top: 24px;
  flex: 1;
  overflow-y: scroll;
  min-height: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
}

.all-task-bars::-webkit-scrollbar {
  display: none;
}

.task-bar {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 278px;
  height: 100%;
  max-height: 100%;
  padding-bottom: 64px;
  align-items: center;
}

.task-bar-heading{
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  color: #42526E;
}

.tasks-header-and-plus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 248px;
}

.add-task-plus-wrapper {
  display: flex;
  cursor: pointer;
}

.add-task-plus-hover,
.add-task-plus-active {
    display: none;
}

.add-task-plus-wrapper:hover .add-task-plus {
    display: none;
}

.add-task-plus-wrapper:hover .add-task-plus-hover {
    display: block;
}

.add-task-plus-wrapper:active .add-task-plus,
.add-task-plus-wrapper:active .add-task-plus-hover {
    display: none;
}

.add-task-plus-wrapper:active .add-task-plus-active {
    display: block;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid transparent;
}

.width-248px {
  width: 248px;
}

.placeholder-task {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border: dashed 1px #A8A8A8;
  background-color: #E7E7E7;
  box-shadow: 0 0 4px 0 #000000 16%;
  border-radius: 10px;  
  width: 248px;
  margin-top: 16px;
}

.placeholder-task p {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  color: #A8A8A8;
}

.add-task-overlay,
.task-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(168, 168, 168, 0.4);
  z-index: 10000;
  overflow: hidden;
}

.add-task-dialog {
  background-color: white;
  border-radius: 30px;
  padding: 64px;
  box-shadow: 0px 0 4px rgba(0, 0, 0, 0.1);
  animation: slideInFromRight 0.2s ease-out forwards;
  max-height: 100%;
}

.task-dialog {
  background-color: white;
  border-radius: 30px;
  padding: 48px 40px;
  box-shadow: 0px 0 4px rgba(0, 0, 0, 0.1);
  animation: slideInFromRight 0.2s ease-out forwards;
  max-height: 100%;
  overflow: auto;
}

.add-task-dialog.slide-out {
  animation: slideOutToRight 0.2s ease-in forwards;
}

.task-dialog.slide-out {
  animation: slideOutToRight 0.2s ease-in forwards;
}

.add-task-dialog-footer {
  padding: 0;
  margin-top: 64px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.disabled-btn {
  background-color: var(--light-gray);
  color: var(--white);
  box-shadow: none;
}

.disabled-btn:hover {
  background-color: var(--light-gray);
  color: var(--white);
  box-shadow: none;
  cursor: default;
}

@keyframes slideInFromRight {
  from { transform: translateX(100vw); }
  to { transform: translateX(0); }
}

@keyframes slideOutToRight {
  from { transform: translateX(0); }
  to { transform: translateX(100vw); }
}

/* Task Design */

.board-small-task {
  width: 252px;
  min-width: 252px;
  margin: 13px 0;
  background-color: white;
  padding: 16px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  overflow: hidden;
  transform: translate(0, 0);
  -webkit-user-select: none;
  user-select: none;
  min-height: fit-content;
}

.rotate-on-drag {
    transform: rotate(5deg) !important;
    opacity: 0.6;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.small-task-category-user-story {
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #0038FF;
  padding: 4px 16px;
  border-radius: 8px;
}

.small-task-category-technical-task {
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: rgba(31, 215, 193, 1);
  padding: 4px 16px;
  border-radius: 8px;
}

.small-task-title {
  font-size: 16px;
  font-weight: 700;
  color: #2A3647;
}

.small-task-description {
  font-size: 16px;
  font-weight: 400;
  color: #A8A8A8;
}

.subtasks-with-subtasks-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.subtasks-bar-container {
  width: 110px;
  height: 8px;
  border-radius: 8px;
  border: solid 1px #4589FF;
}

.subtasks-bar {
  background-color: #4589FF;
  height: 100%;
  border-radius: 8px;
}

.small-task-user-badge-and-priority-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.small-task-user-badges-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
  overflow: auto;
}

.small-task-dropdown-user-badge {
  border: solid 1px white;
}

.small-task-dropdown-user-badge:not(:first-child) {
  margin-left: -10px;
}

/* Dialog Task Design */

.dialog-add-task-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.dialog-board-task {
  display: flex;
  width: 525px;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  border-radius: 30px;
}

.dialog-task-category-and-close-x-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-task-category {
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #0038FF;
  padding: 4px 16px;
  border-radius: 8px;
  width: max-content;
}

.close-dialog-x-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 10px;
}

.close-dialog-x-hover,
.close-dialog-x-active {
    display: none;
}

.close-dialog-x-wrapper:hover .close-dialog-x-default {
    display: none;
}

.close-dialog-x-wrapper:hover .close-dialog-x-hover {
    display: block;
}

.close-dialog-x-wrapper:active .close-dialog-x-default,
.close-dialog-x-wrapper:active .close-dialog-x-hover {
    display: none;
}

.close-dialog-x-wrapper:active .close-dialog-x-active {
    display: block;
}

.dialog-task-title {
  font-size: 61px;
  font-weight: 700;
  max-height: 300px;
  overflow: auto;
}

.dialog-task-description {
  font-size: 20px;
  font-weight: 400;
  max-height: 300px;
  overflow: auto;
}

.dialog-due-date {
  display: flex;
  gap: 32px;
  font-size: 20px;
  font-weight: 400;
}

.fix-width-120px {
  width: 120px;
}

.dialog-priority-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dialog-task-priority {
  display: flex;
  gap: 32px;
  font-size: 20px;
  font-weight: 400;
}

.dialog-task-prio-img {
  width: 20px;
  height: 10px;
}

.dialog-task-user-badges {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 225px;
  overflow: auto;
}

.dialog-dropdown-user-badge-with-name-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.dialog-assigned-to-heading {
  font-size: 20px;
  font-weight: 400;
}

.assigned-to-name {
  font-size: 19px;
  font-weight: 400;
}

.dialog-task-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 235px;
  overflow: auto;
}

.dialog-task-subtasks-header {
  font-size: 20px;
  font-weight: 400;
}

.dialog-task-subtask-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.subtask-and-checkbox-container {
  display: flex;
  gap: 16px;
  overflow-y: auto;
  align-items: center;
}

.checkbox-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dialog-delete-edit-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: end;
  justify-content: end;
  gap: 8px;
}

.dialog-delete-container:hover {
  color: #29abe2;
  text-shadow: 0 0 1px #29abe2;
}

.dialog-edit-container:hover {
  color: #29abe2;
  text-shadow: 0 0 1px #29abe2;
}

.dialog-delete-img-wrapper,
.dialog-edit-img-wrapper {
  display: flex;
  align-items: center;
}

.dialog-delete-container,
.dialog-edit-container {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.dialog-delete-hover-img,
.dialog-edit-hover-img {
    display: none;
}

.dialog-delete-container:hover .dialog-delete-img,
.dialog-edit-container:hover .dialog-edit-img {
    display: none;
}

.dialog-delete-container:hover .dialog-delete-hover-img,
.dialog-edit-container:hover .dialog-edit-hover-img {
    display: block;
}

.img-size-24px {
  width: 24px;
  height: 24px;
}

.dialog-delete-edit {
  font-size: 16px;
  font-weight: 400;
}
