@media (max-width: 1250px) {
  .contact-haeder-area {
    flex-direction: column;
    align-items: unset;
    margin-left: 16px;
  }

  .contact-hr-desktop {
    display: none;
  }

  .contact-hr-mobile {
    width: 90px;
    margin: 8px 0px;
    border: 3px solid var(--logo-light-blue);
  }

  .contact-details {
    margin-top: 80px;
  }

  .contact-details {
    margin-left: 16px;
  }

  .contact-detail-initials p {
    margin-right: 16px;
  }
}

@media (max-width: 975px) {
  .contact-detail-area {
    position: fixed;
    background-color: rgba(246, 247, 248);
    z-index: 900;
    display: flex;
    flex-direction: column;
    align-items: unset;
    height: calc(100vh - 96px);
    top: 96px;
    padding: 16px;
  }

  .contact-and-button-area {
    width: 100%;
  }
  .new-contact-area {
    width: unset;
  }

  .contact-btn {
    display: none;
  }

  .contact-detail-initials p {
    height: 80px;
    width: 80px;
    font-size: 24px;
    font-weight: 400px;
  }

  .contact-detail-name {
    font-size: 32px;
    font-weight: 500;
  }

  .contact-haeder-area p {
    font-size: 48px;
  }

  .contact-main-area {
    height: calc(100vh - 82px);
  }

  .contact-haeder-area {
    margin: unset;
    justify-content: center;
    max-height: 0px;
    margin-top: 80px;
  }

  .contact-haeder-area span {
    font-size: 20px;
  }

  .contact-details {
    margin: unset;
    margin-top: 80px;
  }

  .mobile-edit-delete {
    display: block;
    position: fixed;
    border: none;
    cursor: pointer;
    right: 16px;
    bottom: 96px;
    width: 56px;
    height: 56px;
    background-color: var(--logo-dark-blue);
    border-radius: 100%;
    z-index: 999;
  }

  .mobile-edit-delete:hover {
    background-color: var(--logo-light-blue);
  }

  .back-to-contacts {
    display: block;
    position: fixed;
    background-color: unset;
    border: none;
    cursor: pointer;
    right: 16px;
    top: 136px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    z-index: 999;
  }

  .back-to-contacts:hover img {
    content: url("../assets/icons/arrow_left_line_hover.png");
  }

  .back-to-contacts-unset {
    display: none;
  }

  .back-to-contacts img {
    width: 32px;
    height: 32px;
  }

  .mobile-edit-delete-menu {
    position: fixed;
    right: 8px;
    bottom: 96px;
    width: 116px;
    height: 100px;
    background-color: white;
    z-index: 999;
  }
}

@media (max-width: 820px) {
  .contact-main-area {
    height: calc(100vh - 176px);
  }
}

@media (max-width: 415px) {
  .displayed-contacts {
    align-items: unset;
    padding: 0px 8px;
  }
  .contact-breaker {
    width: 100%;
  }

  .contact-breaker hr {
    width: 100%;
  }

  .add-contact-btn {
    display: none;
  }

  .add-contact-btn-mobile {
    display: block;
    position: fixed;
    align-content: center;
    cursor: pointer;
    bottom: 120px;
    right: 16px;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: var(--logo-dark-blue);
  }
}

.add-contact-dialog {
  width: 100px;
  height: 100px;
  background-color: red;
}

.edit-contact-dialog {
  width: 100px;
  height: 100px;
  background-color: green;
}
