.contact-main-area {
  flex: 1;
  height: 100vh;
  margin-left: -96px;
  margin-top: -110px;
  display: flex;
}

.displayed-contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
}

.contact-detail-area {
  width: 100%;
}

.contact-haeder-area {
  height: 100px;
  flex: 1;
}

.contact-details {
  flex: 1;
}

.contact-and-button-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  width: 456px;
}

/* ==================== Haeder Area ==================== */

.contact-haeder-area {
  display: flex;
  align-items: center;
  margin-left: 56px;
  margin-top: 110px;
}

.contact-haeder-area p {
  font-size: 64px;
  font-weight: 700;
}

.contact-haeder-area hr {
  height: 58px;
  margin: 0px 32px;
  border: 3px solid var(--logo-light-blue);
}

.contact-haeder-area span {
  font-size: 24px;
  font-weight: 400;
  color: var(--logo-dark-blue);
}

/* ==================== Contact Area ==================== */

.add-contact-btn {
  width: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  margin-top: 24px;
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  background-color: var(--logo-dark-blue);
  color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
}

.add-contact-btn-img {
  height: 32px;
  width: 32px;
  margin-left: 16px;
}

.add-contact-btn:hover {
  background-color: var(--logo-light-blue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.contact-breaker {
  width: 100%;
  padding: 0px 32px;
}

.contact-breaker p {
  font-size: 20px;
  padding: 20px;
}

.contact-breaker hr {
  width: 352px;
  border: 1px solid rgba(209, 209, 209, 1);
}

.contact {
  width: 352px;
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 8px;
  border-radius: 10px;
}

.contact-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.contact-name-email p {
  font-size: 20px;
  font-weight: 400;
}

.contact-name-email a {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 124, 238, 1);
}

.contact:hover {
  background-image: linear-gradient(
    rgba(249, 249, 249, 1),
    rgba(240, 240, 240, 1)
  );
}

/* 1. Scrollbar Container (Breite festlegen) */
.displayed-contacts::-webkit-scrollbar {
  width: 8px; /* Breite der vertikalen Scrollbar */
  height: 1px; /* Höhe der horizontalen Scrollbar */
}

/* 3. Der verschiebbare Griff (Thumb) */
.displayed-contacts::-webkit-scrollbar-thumb {
  background: rgba(168, 168, 168, 1);
  border-radius: 3px;
}

.displayed-contacts::-webkit-scrollbar {
  height: 8px;
}

.contact-is-active {
  width: 352px;
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 8px;
  border-radius: 10px;

  background-color: rgba(42, 54, 71, 1);
  color: rgba(255, 255, 255, 1);
}

/* ==================== Contact Detail ==================== */

.contact-details {
  display: flex;
  flex-direction: column;
  margin-left: 56px;
  margin-top: 24px;
}

.contact-edit {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.contact-btn {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.contact-btn-edit:hover {
  font-weight: bold;
  color: var(--logo-light-blue);
}

.contact-btn-delete:hover {
  font-weight: bold;
  color: var(--logo-light-blue);
}

.contact-btn-edit:hover img {
  content: url("../assets/icons/edit_blue.png");
}

.contact-btn-delete:hover img {
  content: url("../assets/icons/delete_blue.png");
}


.contact-btn img {
  margin-right: 8px;
}


.contact-detail-initials p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  margin-right: 40px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  font-size: 48px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.contact-btn {
  display: flex;
  width: 159px;
}

.contact-detail-name {
  font-size: 48px;
  font-weight: 500;
}

.contact-detail-inforamtion {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 32px;
}

.contact-detail-haeder {
  font-size: 16px;
  padding: 16px 0px;
  font-weight: bold;
}
