.footer-pages {
  max-width: 900px;
  margin-top: 110px;
  margin-left: 64px;
  margin-right: 32px;
  padding-bottom: 64px;
}

.footer-pages h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 32px;
}

.footer-pages h2 {
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 22px;
}

.footer-pages p {
  line-height: 1.6;
}

.footer-pages span {
  color: var(--logo-light-blue);
  text-decoration: none;
}

.link {
  color: var(--logo-light-blue);
  font-weight: 500;
}

.step {
  margin-top: 16px;
}

.back-to-page-handler {
  display: flex;
  justify-content: end;
  height: 32px;
  width: 100%;
}

.back-to-previous-page {
  display: none;
}

.back-to-previous-page:hover {
  content: url("../assets/icons/arrow_left_line_hover.png");
}

.back-to-previous-page-help:hover {
  content: url("../assets/icons/arrow_left_line_hover.png");
}

@media (max-width: 818px) {
  .footer-pages {
    max-width: 900px;
    margin-top: 16px;
    margin-left: 8px;
  }
}

@media (max-width: 744px) {
  .back-to-previous-page,
  .back-to-previous-page-help {
    top: 136px;
    right: 16px;
  }

  .back-to-previous-page {
    display: block;
  }
}
