@media (max-width: 744px) {
  .intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2a3647;
    z-index: 9998;
    animation: fadeOutOverlay 600ms ease-in-out 700ms forwards;
  }

  .main-logo-mobile {
    opacity: 1;
    visibility: visible;
    animation: crossfadeOut 400ms ease-in-out 600ms forwards;
  }

  .logo-container {
    width: 100px;
  }

  .signup-content {
    top: auto;
    right: auto;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
  }

  .login-form {
    width: 100%;
    max-width: 650px;
    height: auto;
    padding: 32px 16px;
  }

  .container-login-form {
    padding: 16px;
  }

  .container-login-inputs {
    width: 100%;
    max-width: 422px;
  }

  .login-heading {
    font-size: 47px;
  }

  .underline-login-heading {
    width: 88px;
  }

  .container-login-buttons {
    flex-direction: column;
    gap: 21px;
  }

  .buttons-login {
    width: 180px;
    height: 52px;
    padding: 4px;
    font-size: 16px;
  }

  .signup-button {
    width: 104px;
    padding: 15px 16px;
    font-size: 16px;
  }

  .container-signup-and-privacy-policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;
  }

  .signup-content {
    position: unset;
    transform: none;
  }

  .login-header {
    height: 115px;
  }

  .privacy-policy-and-legal-notice-links-container {
    position: unset;
    transform: none;
  }

  @keyframes glideAndShrinkSpecific {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
    }
    100% {
      top: 37px;
      left: 38px;
      transform: translate(0, 0);
      width: 64px;
      height: 78px;
    }
  }
}
