/* === GLOBAL === */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

input {
  cursor: pointer;
}

.red-border {
  border: solid 1px var(--red) !important;
}

.dNone {
  display: none;
}

/* === HEADER === */
.signup-header {
  height: 108px;
  padding: 80px 0 0 72px;
}

.logo {
  position: absolute;
  top: 80px;
  left: 72px;
  width: auto;
  height: 108px;
}

/* === MAIN === */
.signup {
  flex: 1;
  padding-top: 80px;
}

.signup-card {
  position: relative;
  width: 400px;
  height: auto;
  padding: 40px 12px 32px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* === HEADER IM FORMULAR === */
.signup-form-header {
  display: flex;
  justify-content: center;
}

.signup-back {
  position: absolute;
  top: 48px;
  left: 32px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: var(--white);
  background-image: url(../assets/icons/arrow_left_line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

.signup-back:hover {
  background-image: url(../assets/icons/arrow_left_line_hover.png);
}

.signup-form-header h1 {
  padding: 0 0 4px;
  font-size: 44px;
  font-weight: 700;
}

.signup-form-header h1 {
  position: relative;
  display: inline-block;
}

.signup-form-header h1::after {
  position: absolute;
  left: 20%;
  bottom: -8px;
  width: 62%;
  height: 2px;
  content: "";
  background: var(--logo-light-blue);
}

/* === FORMULAR === */
.signup-form {
  padding: 28px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.signup-form input:nth-child(-n + 4) {
  width: 264px;
  padding: 8px 14px;
  border: solid 1px #d1d1d1;
  border-radius: 6px;
}

.signup-form input:nth-child(-n+4):focus {
  border: solid 1px var(--logo-light-blue);
  outline: none;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 8px;
  left: 236px;
  width: 16px;
  height: auto;
}

.input-icon-visibility {
  cursor: pointer;
  top: 10px;
}

.signup-form input::placeholder {
  color: #d1d1d1;
  font-size: 14px;
}

.input-error {
  display: block;
  margin-top: 6px;
  color: var(--red);
  font-size: 12px;
}

/* === FOOTER IM FORMULAR === */
.signup-form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.signup-form-footer label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.signup-form-footer input {
  width: 13px !important;
}

.signup-form-footer input[type="checkbox"]:not(:checked):hover {
  accent-color: var(--logo-dark-blue);
}

.signup-form-footer span {
  color: #a8a8a8;
  font-size: 12px;
}

.signup-form-footer span a {
  text-decoration: none;
  color: var(--logo-light-blue);
  font-size: 12px;
}

.signup-form-footer span a:hover {
  text-decoration: underline;
}

.signup-button {
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  text-align: center;
  background-color: var(--logo-dark-blue);
  color: var(--white);
  font-weight: 600;
  transform: scale(1);
  transform-origin: right center;
  transition:
    color 0.5s ease,
    transform 0.5s ease;
}

.signup-button:hover {
  background-color: var(--logo-light-blue);
  transform: scale(1.02);
}

/* === FOOTER === */
.signup-footer {
  padding: 0 0 24px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.signup-footer a {
  position: relative;
  display: inline-block;
  color: #a8a8a8;
  text-decoration: none;
  transform: scale(1);
  transform-origin: center;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.signup-footer a::after {
  height: 0;
  display: block;
  content: attr(data-text);
  visibility: hidden;
  overflow: hidden;
  font-weight: 600;
}

.signup-footer a:hover {
  transform: scale(1.06);
  color: var(--logo-light-blue);
}

/* === SIGNUP TOAST === */
.signup-success-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.325s ease;
  z-index: 10;
  pointer-events: none;
}
.signup-success-overlay.show {
  opacity: 1;
  pointer-events: all;
}

.signup-success-toast {
  position: fixed;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  background: #2f3e4d;
  color: white;
  padding: 16px;
  border-radius: 12px;
  font-size: 16px;
  opacity: 0;
  transition: none;
  z-index: 9999;
  animation: none;
}

.signup-success-toast.show {
  animation: toast-flyin 0.325s linear forwards;
}

@keyframes toast-flyin {
  0% {
    top: 100%;
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* === TABLET === */
@media (max-width: 744px){

  /* === HEADER === */
  .signup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 180px 80px 0px;
  }

  .logo {
    position: static;
    height: 76px;
  }

  /* === MAIN === */
  .signup {
    padding: 0;
  }

  .signup-card {
    width: 300px;
  }

  /* === HEADER IM FORMULAR === */
  .signup-back {
    left: 32px
  }

  .signup-form-header h1 {
    font-size: 32px;
  }

  .signup-form-header h1::after {
      height: 3px;
  }

  /* === FORMULAR === */
  .signup-form {
    padding-bottom: 0;
  }

  /* === FOOTER IM FORMULAR === */
  .signup-form-footer {
    padding-top: 20px;
  }

}