/* =============== Header Content =============== */

.only-mobile {
    display: none;
}

.summary-header {
    display: flex;
    align-items: center;
}

.summary-header p{
    display: flex;
    font-size: 64px;
    font-weight: 700;
}

.summary-header hr{
    margin: 32px;
    height: 59px;
    border: 3px solid var(--logo-light-blue);    
}

.summary-header span{
    display: flex;
    color: var(--logo-dark-blue);
    font-size: 24px;
    font-weight: 400;
}

/* =============== Summary Content =============== */
.summary-content-area {
   display: flex;
   border: 1px solid red; /* Remove after */
   width: 100%;
   margin-right: 16px;
}

.summary-content {
 border: 1px solid greenyellow; /* Remove after */
    width: 560px;
    height: 100px;
    margin: 3px; /* Remove after */
}

.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    

    border: 1px solid blue; /* Remove after */
    margin: 3px; /* Remove after */
}

.welcome-time {
    font-size: 48px;
    font-weight: 400;
    color: var(--logo-dark-blue);
}

.welcome-name {
    font-size: 64px;
    font-weight: 600;
    color: var(--logo-light-blue);
}