.dialog-add-task-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.dialog-board-task {
  display: flex;
  width: 525px;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  border-radius: 30px;
  max-width: 100%;
}

.dialog-task-category-and-close-x-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-dialog {
  background-color: white;
  border-radius: 30px;
  padding: 48px 40px;
  box-shadow: 0px 0 4px rgba(0, 0, 0, 0.1);
  animation: slideInFromRight 0.2s ease-out forwards;
  max-height: 100%;
  overflow: auto;
  scrollbar-width: none;
  max-height: 90%;
}

.task-dialog.slide-out {
  animation: slideOutToRight 0.2s ease-in forwards;
}

.dialog-task-category-user-story {
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #0038ff;
  padding: 4px 16px;
  border-radius: 8px;
  width: max-content;
}

.dialog-task-category-technical-task {
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: rgba(31, 215, 193, 1);
  padding: 4px 16px;
  border-radius: 8px;
  width: max-content;
}

.close-dialog-x-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.close-dialog-x-hover,
.close-dialog-x-active {
  display: none;
}

.close-dialog-x-wrapper:hover .close-dialog-x-default {
  display: none;
}

.close-dialog-x-wrapper:hover .close-dialog-x-hover {
  display: block;
}

.close-dialog-x-wrapper:active .close-dialog-x-default,
.close-dialog-x-wrapper:active .close-dialog-x-hover {
  display: none;
}

.close-dialog-x-wrapper:active .close-dialog-x-active {
  display: block;
}

.dialog-task-title {
  font-size: 61px;
  font-weight: 700;
  max-height: 300px;
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.dialog-task-description {
  font-size: 20px;
  font-weight: 400;
  max-height: 300px;
  overflow: auto;
}

.dialog-due-date {
  display: flex;
  gap: 32px;
  font-size: 20px;
  font-weight: 400;
}

.fix-width-120px {
  width: 120px;
}

.dialog-priority-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dialog-task-priority {
  display: flex;
  gap: 32px;
  font-size: 20px;
  font-weight: 400;
}

.dialog-task-prio-img {
  width: 20px;
  height: 10px;
}

.dialog-task-user-badges {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 225px;
  overflow: auto;
}

.dialog-dropdown-user-badge-with-name-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.dialog-assigned-to-heading {
  font-size: 20px;
  font-weight: 400;
}

.assigned-to-name {
  font-size: 19px;
  font-weight: 400;
}

.dialog-task-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 235px;
  overflow: auto;
}

.dialog-task-subtasks-header {
  font-size: 20px;
  font-weight: 400;
}

.dialog-task-subtask-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.subtask-and-checkbox-container {
  display: flex;
  gap: 16px;
  overflow-y: auto;
  align-items: center;
}

.checkbox-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dialog-delete-edit-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: end;
  justify-content: end;
  gap: 8px;
}

.dialog-delete-container:hover {
  color: #29abe2;
  text-shadow: 0 0 1px #29abe2;
}

.dialog-edit-container:hover {
  color: #29abe2;
  text-shadow: 0 0 1px #29abe2;
}

.dialog-delete-img-wrapper,
.dialog-edit-img-wrapper {
  display: flex;
  align-items: center;
}

.dialog-delete-container,
.dialog-edit-container {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.dialog-delete-hover-img,
.dialog-edit-hover-img {
  display: none;
}

.dialog-delete-container:hover .dialog-delete-img,
.dialog-edit-container:hover .dialog-edit-img {
  display: none;
}

.dialog-delete-container:hover .dialog-delete-hover-img,
.dialog-edit-container:hover .dialog-edit-hover-img {
  display: block;
}

.img-size-24px {
  width: 24px;
  height: 24px;
}

.dialog-delete-edit {
  font-size: 16px;
  font-weight: 400;
}

/* Responsive Handling */
@media (max-width: 744px) {
  .dialog-task-title {
    font-size: 36px;
  }

  .dialog-task-category-technical-task,
  .dialog-task-category-user-story,
  .dialog-task-description,
  .dialog-due-date,
  .dialog-task-priority,
  .dialog-assigned-to-heading,
  .assigned-to-name,
  .dialog-task-subtasks-header,
  .dialog-delete-edit {
    font-size: 16px;
  }

  .checkbox-img {
    width: 16px;
    height: 16px;
  }

  .dialog-board-task {
    width: 320px;
  }
}